
.seat-price-container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4B0082;
    flex-direction: row;
    padding: 150px;
    box-sizing: border-box;
  }
  
  .info-section {
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-section-p{
    margin-top: 15px;
  }
  
  .info-items {
    margin-top: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .tick-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .learn-more-btn {
    max-width: 100px;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: transparent;
    border: transparent;
    color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .learn-more-btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Table Section */
  .table-section {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #e0e7ff;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  .table-body {
    max-height: 240px; 
    overflow-y: auto;
  }
  
  .table-body table {
    width: 100%;
    border-collapse: collapse;
  }
  
  @media (max-width: 768px) {
    .seat-price-container {
      flex-direction: column; 
      padding: 20px;
    }
  
    .info-section, .table-section {
      width: 100%; 
    }
  
    .table-body {
      max-height: none;
      overflow-x: auto;
    }
  
    .learn-more-btn {
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.875rem; 
    }
  
    th, td {
      padding: 8px; 
    }
  
    .info-item {
      margin-bottom: 10px;
    }
  
    .learn-more-btn {
      padding: 8px 16px;
      font-size: 0.875rem;
    }
  }
  